$blue100: #BBDEFB;
$blue400: #42A5F5;
$blue700: #1976D2;

$red100: #ffcdd2;
$red400: #ef5350;
$red700: #d32f2f;

$amber100: #FFECB3;
$amber400: #FFCA28;
$amber700: #FFA000;

$orange100: #FFCCBC;
$orange400: #FF7043;
$orange700: #E64A19;

$gray100: #CFD8DC;
$gray400: #78909C;
$gray700: #455A64;
$gray900: #263238;

$mono100: #F5F5F5;
$mono400: #BDBDBD;
$mono700: #616161;
$mono900: #212121;