header {
	width: 100%;
	background: $blue700;
	padding: 40px 5px;
}
nav {
	width: 100%;
	ul {
		list-style-type: none;
		@include display-flex;
		li {
			-webkit-flex: 6;
			-ms-flex: 6;
			-moz-flex: 6;
			flex: 6;
			text-align: center;

			a {
				padding: 3px 0;
				color: $mono100;
				display: block;
				width: 100%;
				font-weight: 400;
				text-transform: uppercase;
				&.orange { background: $orange400; border-bottom: 2px solid $orange400;}
				&.red { background: $amber700; border-bottom: 2px solid $amber700;}
				&.amber { background: $orange100; border-bottom: 2px solid $orange100;}
				&.lightorange { background: $amber400; border-bottom: 2px solid $amber400;}
				&:hover { color: $blue400; border-bottom: 2px solid $blue400; }
				&.selected {font-weight: 900; color: $blue400;	 text-shadow: none;}
			}
		}
	}
}